*{
  box-sizing: border-box;
}
.events_container {
  display:flex;
  flex-wrap: wrap;
}
.event{
  display:flex;
  margin-right:10px;
  flex-grow:0;
  flex-basis:23%;
  flex-direction:column;
  border:1px solid #f2f5f9;
  padding:10px;
  margin-bottom:10px;
}
.event_header{
  background-color:#eff0f2;
  display:flex;
  align-items:center;
}
.actor_img{
  background-color:white;
  display:block;
  margin-right:5px;
  padding:2px;
}
.event_body{

}
.event_body img {
  max-width:100%;
}
